<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean id="Collection" class="com.netcracker.TestClasses.Collection">
        <constructor-arg>
            <list>
                <value>First</value>
                <value>Second</value>
            </list>
        </constructor-arg>

        <constructor-arg>
            <set>
                <value>First</value>
                <value>Second</value>
            </set>
        </constructor-arg>

        <constructor-arg>
            <map>
                <entry key="1" value="First"/>
                <entry key="2" value="Second"/>
            </map>
        </constructor-arg>
    </bean>
</beans>
