<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <bean id="Fruit" class="com.netcracker.TestClasses.Fruit">
        <constructor-arg value="5"/>
    </bean>

    <bean id="Apple" class="com.netcracker.TestClasses.Apple" parent="Fruit">
        <constructor-arg value="apple"/>
    </bean>
</beans>
